@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v19/KFOlCnqEu92Fr1MmSU5fBBc9.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v19/KFOmCnqEu92Fr1Mu4mxP.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(https://fonts.gstatic.com/s/roboto/v19/KFOlCnqEu92Fr1MmEU9fBBc9.ttf) format('truetype');
}
* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Roboto', sans-serif;
  min-height: 100%;
  font-size: 62.5%;
}
.main {
  margin: auto;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 62.5%;
}
.header-banner {
  border-radius: 5px;
  margin: 20px;
  max-width: 100%;
}
p {
  margin: 10px;
}
.aboutus {
  min-width: 75%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
@media (max-width: 700px) {
  .aboutus {
    flex-direction: column;
    min-width: 95%;
  }
}
.nav-base {
  font-size: 1.2rem;
  display: flex;
  justify-content: flex-start;
  padding: 20px;
  width: auto;
  background-color: #349AFA;
  color: white;
  align-items: center;
}
.home-icon {
  cursor: pointer;
  margin: 0px 10px;
}
.drawer {
  background-color: #349AFA;
  transition: width 0.1s ease-out;
  width: 0px;
  overflow: hidden;
  height: 100%;
}
.drawerOpen {
  background-color: #349AFA;
  text-decoration: none;
  transition: width 0.1s ease-out;
  display: flex;
  height: 100%;
  flex-direction: column;
  width: 250px;
}
@media (max-width: 480px) {
  .drawerOpen {
    min-width: 100%;
  }
}
.navlist {
  text-decoration: none;
  color: white;
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  font-size: 25px;
  border-bottom: 2px black solid;
}
.navlist:hover {
  cursor: pointer;
  background-color: #376CDE;
}
.darken {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: all 0.1s ease-out;
}
.lighten {
  position: absolute;
  visibility: hidden;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  transition: all 0.1s ease-out;
}
.people {
  margin: 25px;
  width: 300px !important;
  height: 500px !important;
}
@media (max-width: 700px) {
  .people {
    min-width: 100%;
    margin: 25px 0px;
  }
}
.team {
  margin: 10px;
  width: 200px;
  height: 200px;
  border-radius: 200px;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 20px 6px -6px black;
  font-family: 'Roboto', sans-serif;
  width: 100%;
  height: 150px;
  background-color: #c9c9c9;
  border-radius: 10px;
}
.card-header {
  font-size: 1.5rem;
  text-align: center;
  text-decoration: bold;
  background-color: #349AFA;
  border-bottom: 1px solid black;
  width: 100%;
}
.card-content {
  flex-grow: 1;
  font-size: 1rem;
  text-align: center;
}
.card-footer {
  cursor: pointer;
  text-decoration: none;
  color: black;
  border-top: 1px solid black;
  font-size: 1rem;
  text-align: center;
  width: 100%;
}
.card-footer:hover {
  background-color: #b0b0b0;
}
.m-card {
  box-shadow: 0 8px 6px -6px black;
  margin: 20px;
  font-family: 'Roboto', sans-serif;
  width: 800px;
  min-height: 500px;
  background-color: #c9c9c9;
  border-radius: 10px;
}
@media (max-width: 800px) {
  .m-card {
    width: 650px;
  }
}
@media (max-width: 700px) {
  .m-card {
    min-width: 100%;
  }
}
.m-card-header {
  font-size: 2.5rem;
  background-color: #349AFA;
  text-align: center;
  text-decoration: bold;
  border-bottom: 1px solid black;
}
.m-card-content {
  font-size: 1.25rem;
  text-align: left;
}
.about {
  display: flex;
  max-width: 100%;
  justify-content: center;
}
.mini {
  display: flex;
  flex-direction: column;
}
.footer {
  height: 50px;
  font-size: 1.5rem;
  font-family: 'Roboto', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #349AFA;
}
.carousel-wrapper {
  overflow: hidden;
  max-width: 1000px;
}
.carousel-wrapper * {
  box-sizing: border-box;
}
.carousel {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  max-width: 1000px;
  transform-style: preserve-3d;
}
.left-button,
.right-button {
  cursor: pointer;
  width: 25px;
  height: 25px;
  overflow: visible;
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
}
.card.initial,
.card.active {
  display: block !important;
  transition: width 0.5s ease-out;
  width: 250px;
  opacity: 1;
  position: relative;
}
.card.prev {
  transition: width 0.5s ease-out;
  width: 0px;
  font-size: 0;
  overflow: hidden;
}
.card.prev .card-header,
.card.prev .card-content {
  visibility: hidden;
}
.card.next {
  transition: width 0.5s ease-out;
  width: 0px;
  overflow: hidden;
}
.card.next .card-header,
.card.next .card-content {
  visibility: hidden;
}
.card {
  width: 0px;
  overflow: hidden;
}
p {
  margin: 0px 8px;
}
.button {
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  color: white;
  width: 200px;
  height: 23px;
  border-radius: 5px;
  background-size: 200% 100%;
  background-image: linear-gradient(to left, #495EF5 50%, #349AFA 50%);
  -webkit-transition: background-position 1s;
  -moz-transition: background-position 1s;
  transition: background-position 1s;
}
.button:hover {
  background-position: -100% 0%;
}
