@import "./variables";
@import "./mixins";
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500");
* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;

}
body {
  font-family: @marketing-font;
  min-height: 100%;
  font-size: 62.5%;
}
.main {
  margin: auto;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 62.5%;
}
.header-banner {
  border-radius: 5px;
  margin: 20px;
  max-width: 100%;
}
p{
      margin: 10px;
}
.aboutus{
  min-width: 75%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  .MediaTabletSmall({flex-direction: column;min-width: 95%});
}
@import "../components/navbar/nav";
@import "../components/card/card";
@import "../components/mega-card/mega-card";
@import "../components/footer/footer";
@import "../components/slide/slide";
@import "../components/button/button";
