@import "../../less/variables.less";
.footer{
  height: 50px;
  font-family: @marketing-font;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: @marketing-color-nav;
}
