@import "../../less/variables.less";
.m-card{
  margin: 20px;
  font-family: @marketing-font;
  width:800px;
  height:500px;
  background-color: @marketing-color-background;
  border-radius: 10px;
}
.m-card-header{
  font-size: 50px;
  text-align: center;
  text-decoration: bold;
  border-bottom: 1px solid black;
}
.m-card-content{
  font-size: 25px;
  text-align: center;
}
.about{
  display: flex;
}
.mini{
  display: flex;
  flex-direction: column;
}
